In [1]:
import json
import pandas as pd
import re

## Deliverable 1: Extract
----
### Option 1: Use Python Dictionary Methods

1. Import the `backer_info.csv` file into a DataFrame.
2. Iterate through the DataFrame and convert each row to a dictionary. 
3. Iterate through each dictionary and do the following:
    * Extract the dictionary values from the keys using Python list comprehension.
    * Add the values for each row to a new list. 
4. Create a new DataFrame with the retrieved data. 
5. Export the DataFrame as `backers_data.csv`.

In [ ]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)

In [ ]:
# Iterate through the backers DataFrame and convert each row to a dictionary.

    # Iterate through each dictionary (row) and get the values for each row using list comprehension.
    
    # Append the list of values for each row to a list. 
    

# Print out the list of values for each row.

In [ ]:
# Create a backers_df DataFrame with the following columns: 'backer_id','cf_id', 'name', and 'email' 
# using the list of values lists.

In [ ]:
# Export the DataFrame as a CSV file using encoding='utf8'.

## Deliverable 1: Extract
----
### Option 2: Use regex 

1. Import the `backer_info.csv` file into a DataFrame. 
2. Extract the "backer_id", "cf_id", "name", and "email using regular expressions."
3. Create a new DataFrame with the retrieved data.
4. Export the DataFrame as `backers_data.csv`.

In [2]:
# Get the backers_info from the backer_info.csv 
pd.set_option('max_colwidth', 400)
backers_info_df = pd.read_csv('Data/backer_info.csv')

backers_info_df.head(10)

                                                                                          backer_info
0        {"backer_id": "av166", "cf_id": 968, "name": "Angelo Vincent", "email": "avincent@live.com"}
1        {"backer_id": "ha127", "cf_id": 563, "name": "Hubert Arnold", "email": "harnold@yandex.com"}
2          {"backer_id": "lg794", "cf_id": 65, "name": "Loris Goulet", "email": "lgoulet@yandex.com"}
3  {"backer_id": "tb566", "cf_id": 563, "name": "Teodora Brunelli", "email": "tbrunelli@outlook.com"}
4               {"backer_id": "lh506", "cf_id": 563, "name": "Lexie Hunt", "email": "lhunt@live.com"}
5           {"backer_id": "lh382", "cf_id": 563, "name": "Lambert Huber", "email": "lhuber@live.com"}
6              {"backer_id": "em444", "cf_id": 563, "name": "Emmy Morin", "email": "emorin@live.com"}
7          {"backer_id": "at582", "cf_id": 1572, "name": "Armonda Trani", "email": "atrani@live.com"}
8           {"backer_id": "id772", "cf_id": 1911, "name": "Ilana Duke", "email": "iduke@outlook.com"}
9           {"backer_id": "lw275", "cf_id": 65, "name": "Leigha Wright", "email": "lwright@live.com"}

In [3]:
sample = backers_info_df['backer_info'].values[0]

test = re.findall(r'([a-z]{2}\d{3})', sample)
test

['av166']

In [4]:
# Extract the alpha-numeric "backer_id" from the backer_info column using a regex expression 
# and add it as a new column called "backer_id".
backers_info_df['backer_id'] = backers_info_df['backer_info'].str.extract(r'([a-z]{2}\d{3})')

backers_info_df.tail(10)

,backer_info,backer_id
8165,"{""backer_id"": ""nb527"", ""cf_id"": 1572, ""name"": ""Nicolaus Black"", ""email"": ""nblack@gmail.com""}",nb527
8166,"{""backer_id"": ""ra872"", ""cf_id"": 65, ""name"": ""Ricciardo Acevedo"", ""email"": ""racevedo@live.com""}",ra872
8167,"{""backer_id"": ""ac509"", ""cf_id"": 65, ""name"": ""Adolfo Corriveau"", ""email"": ""acorriveau@yahoo.com""}",ac509
8168,"{""backer_id"": ""mh501"", ""cf_id"": 65, ""name"": ""Marco Hobbs"", ""email"": ""mhobbs@outlook.com""}",mh501
8169,"{""backer_id"": ""tb312"", ""cf_id"": 65, ""name"": ""Tamatha Bambach"", ""email"": ""tbambach@protonmail.com""}",tb312
8170,"{""backer_id"": ""st581"", ""cf_id"": 65, ""name"": ""Serita Thebault"", ""email"": ""sthebault@yandex.com""}",st581
8171,"{""backer_id"": ""gf637"", ""cf_id"": 563, ""name"": ""Glenn Foerstner"", ""email"": ""gfoerstner@yahoo.com""}",gf637
8172,"{""backer_id"": ""rc983"", ""cf_id"": 1114, ""name"": ""Robt Collin"", ""email"": ""rcollin@outlook.com""}",rc983
8173,"{""backer_id"": ""cz381"", ""cf_id"": 65, ""name"": ""Corina Zappa"", ""email"": ""czappa@outlook.com""}",cz381
8174,"{""backer_id"": ""fg535"", ""cf_id"": 65, ""name"": ""Freeman Gibbs"", ""email"": ""fgibbs@outlook.com""}",fg535

In [5]:
test = re.findall(r'[\s](\d{2,4})', sample)
test

['968']

In [6]:
# Extract the two to four-digit "cf_id" number from the backer_info column. 
# and add it as a new column called "cf_id".
backers_info_df['cf_id'] = backers_info_df['backer_info'].str.extract(r'[\s](\d{2,4})')

backers_info_df.head(10)

,backer_info,backer_id,cf_id
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166,968
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127,563
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794,65
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566,563
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506,563
5,"{""backer_id"": ""lh382"", ""cf_id"": 563, ""name"": ""Lambert Huber"", ""email"": ""lhuber@live.com""}",lh382,563
6,"{""backer_id"": ""em444"", ""cf_id"": 563, ""name"": ""Emmy Morin"", ""email"": ""emorin@live.com""}",em444,563
7,"{""backer_id"": ""at582"", ""cf_id"": 1572, ""name"": ""Armonda Trani"", ""email"": ""atrani@live.com""}",at582,1572
8,"{""backer_id"": ""id772"", ""cf_id"": 1911, ""name"": ""Ilana Duke"", ""email"": ""iduke@outlook.com""}",id772,1911
9,"{""backer_id"": ""lw275"", ""cf_id"": 65, ""name"": ""Leigha Wright"", ""email"": ""lwright@live.com""}",lw275,65

In [7]:
# Extract the name from the backer_info column and add it as a new column called "name".
backers_info_df['name'] = backers_info_df['backer_info'].str.extract(r'(\w+\s\w+)')

backers_info_df.head(10)

,backer_info,backer_id,cf_id,name
0,"{""backer_id"": ""av166"", ""cf_id"": 968, ""name"": ""Angelo Vincent"", ""email"": ""avincent@live.com""}",av166,968,Angelo Vincent
1,"{""backer_id"": ""ha127"", ""cf_id"": 563, ""name"": ""Hubert Arnold"", ""email"": ""harnold@yandex.com""}",ha127,563,Hubert Arnold
2,"{""backer_id"": ""lg794"", ""cf_id"": 65, ""name"": ""Loris Goulet"", ""email"": ""lgoulet@yandex.com""}",lg794,65,Loris Goulet
3,"{""backer_id"": ""tb566"", ""cf_id"": 563, ""name"": ""Teodora Brunelli"", ""email"": ""tbrunelli@outlook.com""}",tb566,563,Teodora Brunelli
4,"{""backer_id"": ""lh506"", ""cf_id"": 563, ""name"": ""Lexie Hunt"", ""email"": ""lhunt@live.com""}",lh506,563,Lexie Hunt
5,"{""backer_id"": ""lh382"", ""cf_id"": 563, ""name"": ""Lambert Huber"", ""email"": ""lhuber@live.com""}",lh382,563,Lambert Huber
6,"{""backer_id"": ""em444"", ""cf_id"": 563, ""name"": ""Emmy Morin"", ""email"": ""emorin@live.com""}",em444,563,Emmy Morin
7,"{""backer_id"": ""at582"", ""cf_id"": 1572, ""name"": ""Armonda Trani"", ""email"": ""atrani@live.com""}",at582,1572,Armonda Trani
8,"{""backer_id"": ""id772"", ""cf_id"": 1911, ""name"": ""Ilana Duke"", ""email"": ""iduke@outlook.com""}",id772,1911,Ilana Duke
9,"{""backer_id"": ""lw275"", ""cf_id"": 65, ""name"": ""Leigha Wright"", ""email"": ""lwright@live.com""}",lw275,65,Leigha Wright

In [8]:
# Extract the email from the backer_info column and add it as a new column called "email".
backers_info_df['email'] = backers_info_df['backer_info'].str.extract(r'(\w+@\w+\.\w+)')

backers_info_df.sample(n=10)

,backer_info,backer_id,cf_id,name,email
4563,"{""backer_id"": ""mr517"", ""cf_id"": 65, ""name"": ""Matt Rousselle"", ""email"": ""mrousselle@live.com""}",mr517,65,Matt Rousselle,mrousselle@live.com
4561,"{""backer_id"": ""mk589"", ""cf_id"": 65, ""name"": ""Mallory Kinney"", ""email"": ""mkinney@yahoo.com""}",mk589,65,Mallory Kinney,mkinney@yahoo.com
5469,"{""backer_id"": ""pf151"", ""cf_id"": 65, ""name"": ""Philipp Fabbri"", ""email"": ""pfabbri@outlook.com""}",pf151,65,Philipp Fabbri,pfabbri@outlook.com
1823,"{""backer_id"": ""cb862"", ""cf_id"": 1911, ""name"": ""Colonel Blanchard"", ""email"": ""cblanchard@yandex.com""}",cb862,1911,Colonel Blanchard,cblanchard@yandex.com
2409,"{""backer_id"": ""lv328"", ""cf_id"": 65, ""name"": ""Lucius Vaughn"", ""email"": ""lvaughn@yahoo.com""}",lv328,65,Lucius Vaughn,lvaughn@yahoo.com
6253,"{""backer_id"": ""sh399"", ""cf_id"": 1114, ""name"": ""Shaneka Hogan"", ""email"": ""shogan@live.com""}",sh399,1114,Shaneka Hogan,shogan@live.com
1023,"{""backer_id"": ""af137"", ""cf_id"": 1572, ""name"": ""Amadore Fourcade"", ""email"": ""afourcade@live.com""}",af137,1572,Amadore Fourcade,afourcade@live.com
7076,"{""backer_id"": ""kb762"", ""cf_id"": 1114, ""name"": ""Kayce Balli"", ""email"": ""kballi@protonmail.com""}",kb762,1114,Kayce Balli,kballi@protonmail.com
6530,"{""backer_id"": ""eq708"", ""cf_id"": 65, ""name"": ""Ellard Quenneville"", ""email"": ""equenneville@yahoo.com""}",eq708,65,Ellard Quenneville,equenneville@yahoo.com
1590,"{""backer_id"": ""tp399"", ""cf_id"": 1572, ""name"": ""Tyesha Park"", ""email"": ""tpark@outlook.com""}",tp399,1572,Tyesha Park,tpark@outlook.com

In [12]:
# Create a new DataFrame with the appropriate columns.
extracted_backer_info = backers_info_df[['backer_id', 'cf_id', 'name', 'email']]

extracted_backer_info.head(10)

  backer_id cf_id              name                  email
0     av166   968    Angelo Vincent      avincent@live.com
1     ha127   563     Hubert Arnold     harnold@yandex.com
2     lg794    65      Loris Goulet     lgoulet@yandex.com
3     tb566   563  Teodora Brunelli  tbrunelli@outlook.com
4     lh506   563        Lexie Hunt         lhunt@live.com
5     lh382   563     Lambert Huber        lhuber@live.com
6     em444   563        Emmy Morin        emorin@live.com
7     at582  1572     Armonda Trani        atrani@live.com
8     id772  1911        Ilana Duke      iduke@outlook.com
9     lw275    65     Leigha Wright       lwright@live.com

In [13]:
# Export the DataFrame as a CSV file using encoding='utf8'.
extracted_backer_info.to_csv('Data/extracted_backer_info.csv', encoding='utf8', index=False)

## Deliverable 2: Transform and Clean Data
----
1. Check the data types of the columns and convert the "cf_id" column to an integer, if necessary.
2. Split the name in the "name" column into first and last names, and add them to "first_name" and "last_name" columns in the DataFrame. 
3. Drop the "name" column in the DataFrame.
4. Place the columns in the following order; "backer_id", "cf_id", "first_name", "last_name" and "email".

In [14]:
# Check data types.
extracted_backer_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8175 entries, 0 to 8174
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   backer_id  8175 non-null   object
 1   cf_id      8175 non-null   object
 2   name       8175 non-null   object
 3   email      8175 non-null   object
dtypes: object(4)
memory usage: 255.6+ KB

In [20]:
# Convert cf_id to an integer if necessary.
extracted_backer_info.loc['cf_id'] = pd.to_numeric(extracted_backer_info['cf_id'])

<ipython-input-20-55d47bcafe95>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  extracted_backer_info['cf_id'] = pd.to_numeric(extracted_backer_info['cf_id'])

In [21]:
extracted_backer_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8175 entries, 0 to 8174
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   backer_id  8175 non-null   object
 1   cf_id      8175 non-null   int64
 2   name       8175 non-null   object
 3   email      8175 non-null   object
dtypes: int64(1), object(3)
memory usage: 255.6+ KB

In [23]:
# Split the "name" column into "first_name" and "last_name" columns.
extracted_backer_info[['first_name', 'last_name']] = (extracted_backer_info['name']
                                                      .str.split(' ', n=1, expand=True))

In [26]:
#  Drop the name column
clean_backer_info = extracted_backer_info.drop('name', axis=1)

# Reorder the columns
new_order = ['backer_id', 'cf_id', 'first_name', 'last_name', 'email']
clean_backer_info = clean_backer_info[new_order]

clean_backer_info.head(10)

  backer_id  cf_id first_name last_name                  email
0     av166    968     Angelo   Vincent      avincent@live.com
1     ha127    563     Hubert    Arnold     harnold@yandex.com
2     lg794     65      Loris    Goulet     lgoulet@yandex.com
3     tb566    563    Teodora  Brunelli  tbrunelli@outlook.com
4     lh506    563      Lexie      Hunt         lhunt@live.com
5     lh382    563    Lambert     Huber        lhuber@live.com
6     em444    563       Emmy     Morin        emorin@live.com
7     at582   1572    Armonda     Trani        atrani@live.com
8     id772   1911      Ilana      Duke      iduke@outlook.com
9     lw275     65     Leigha    Wright       lwright@live.com

In [28]:
# Export the DataFrame as a CSV file using encoding='utf8'.
clean_backer_info.to_csv('Data/backers.csv', encoding='utf8', index=False)